@font-face {
  font-family: 'fontello';
  src: url('./fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

i.icon:before {
 font-family: "fontello";
 font-style: normal;
 font-weight: normal;

 display: inline-block;
 text-decoration: inherit;
 width: 1em;
 text-align: center;
 font-variant: normal;
 text-transform: none;

 font-size: 80%;
}

.icon-ok:before { content: '\e800'; }
.icon-cancel:before { content: '\e801'; }
.icon-minus:before { content: '\e802'; }
